html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcc00;
}

footer {
    position: sticky;
    top: 100%;
    margin: 0;
    padding: 0;
    background-color: #cc0000;
}

#editMyAccessForm {
    width: 300px;
}

